root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.cs]
indent_size = 4
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all
dotnet_style_namespace_match_folder = true
csharp_style_namespace_declarations = file_scoped:suggestion

# Nullable / quality
dotnet_diagnostic.CS8600.severity = error
dotnet_diagnostic.CS8602.severity = error
dotnet_diagnostic.CS8618.severity = error

[*.{csproj,props,targets}]
indent_size = 2

[*.{axaml,xaml}]
indent_size = 2

[*.{json,yml,yaml,md}]
indent_size = 2
